{
  "presets": [
    ["@babel/env",     
     { "targets": {   
      "ie": "11"
    }
      }]    
    ,
    "@babel/preset-react",
    [
      "@babel/preset-stage-2",
      {
        "decoratorsLegacy": true
      }
    ]
  ]
}